
main {
    flex: 1;
    width: 100%;
    padding: 20px;
    text-align: center;
}

main h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #000000;
}

main h2 {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #333;
    text-align: left;
}

.info_echange {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.info_echange p {
    font-size: 1.1rem;
    color: #000000;
    font-weight: bold;
}

.liste_brique {
    padding: 0;
    margin: 20px 0;
}

.brique_item {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.brique_item .nom_brique {
    font-weight: bold;
    color: #333;
    flex: 2;
}

.brique_item .quantite_brique,
.brique_item .valeur_brique {
    flex: 1;
    text-align: right;
    color: #666;
    font-size: 0.9rem;
}

.valeur_totale {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-align: right;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
}

.valeur_totale .total {
    font-size: 1.2rem;
    color: #f44336;
}